.preview__background-image{
    background-image:url("../../../../images/templates/empty template.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 100px;
    /* width: 100%; */

    width: 50vw;
    height: 200px;
}